.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}
.content {
  .searchArea {
    text-align: left;
    padding-top: 10px;
    ul {
      list-style-type: none;

    }

    li {
      text-align: left;
      width: 600px;
      padding-top: 5px;
      width: 50%;

      .name {
        font-weight: bold;
        font-size: large;
      }
      .address {
        padding-left: 20px;
        .header{
          font-weight: bold;
          display:block;
        }
      }
      border-bottom: 1px solid black;

    }
  }
  .businessCenterData{
    width:100%;
    height:700px;
  }
}
// injector
// endinjector
