<div class="container">

  <div ng-include="'components/navbar/navbar.html'"></div>

  <div class="content jumbotron text-center">
    <h1>{{vm.title}}</h1>
    <input type="button" ng-click="vm.init()" value="Init"/>
    <input type="button" ng-click="vm.muddleUp()" value="Mix up"/>
    <!--<input type="button" ng-click="vm.synchronize()" value="Synchronize"/>-->
    <!--<input type="button" ng-click="vm.synchronizeInWorker()" value="Synchronize using worker"/>-->
    <input type="button" ng-click="vm.startAutoSync()" value="Start auto sync"/>
    <input type="button" ng-click="vm.stopAutoSync()" value="Stop auto sync"/>
    Synchronization <span ng-if="vm.syncEnabled">enabled</span><span ng-if="!vm.syncEnabled">disabled</span>

    <!--<form id="todoForm" ng-submit="vm.submitItem()">
      <input id="todoText" ng-model="newItem" type="text" placeholder="Enter todo item" />
      <input type="submit" value="Add Item" />
    </form>-->

    <div>
      <div class="searchArea col-md-4">
        <!--ToDo:-->
        <!--<div>-->
          <!--<ul>-->
            <!--<li ng-repeat="todoItem in vm.data track by $index">{{todoItem.text}} (id: {{todoItem._id}}) <input type="button" ng-click="vm.removeItem(todoItem)" value="Remove"/></li>-->
          <!--</ul>-->
        <!--</div>-->
        Find customers by name <input ng-change="vm.filterData()" ng-model="vm.textFilter"/><br/>
        Find (full text search) <input ng-change="vm.fullTextSearch()" ng-model="vm.fullTextFilter"/>
        <div>
          <ul>
            <li ng-repeat="todoItem in vm.filteredData track by $index">
              <div>
                <div class="name">{{todoItem.firstName}} {{todoItem.lastName}}</div>
                Date of birth: {{todoItem.dateOfBirth}}
                <div class="address">
                  <span class="header">Address:</span>
                  {{todoItem.street}}<br/>{{todoItem.postalCode}} {{todoItem.city}}<br/>{{todoItem.country}}
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <h3>Business Center Data</h3>
      <div ui-grid="vm.gridOptions" ui-grid-pagination class="businessCenterData"></div>
    </div>


    <div style="clear:both"></div>
  </div>

  <hr>

  <div class="footer">

  </div>

</div>
